<!DOCTYPE >
<html>
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <div>
                <h1>Are you sure?</h1>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <button content="Delete">Delete</button>
                    </div>
            </div>
        </main>
    </body>
</html>