<!DOCTYPE >
<html>
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list_detail.name }}</h1>
                <p><a href="{% url 'update_todolist' todo_list_detail.pk %}">Edit</a></p>
                <p><a href="{% url 'delete_todolist' todo_list_detail.pk %}">Delete</a></p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in todo_list_detail.items.all %}
                        <tr>
                            <td><a href="{% url 'update_todoitem' task.pk %}">{{ task.task }}</a></td>
                            <td>{{ task.due_date|date:"DATE_FORMAT" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>