<!DOCTYPE >
<html>
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <div>
                <h1>Update list</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button content="Update">Update</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>